
h1 {
  text-align: center;
  color: rgb(12, 1, 1);
  text-decoration: underline;

}

.to-the-left{
  cursor: pointer;
  text-decoration: underline;
  margin-left: 30%;
}

.to-the-left:hover {
  color: red;
}

.entry-value , select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(103, 123, 190);
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #e41414;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #4CAF50;
}

.content {
  margin-left: 30%;
  margin-right: 30%;
  
  border-radius: 5px;
  background-color: #375fb6;
  padding: 20px;
}

table{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

th{
  color: rgb(68, 4, 68);
  
}

td{
  width: 150px;
  height: 50px;
}

.empty-entry , h4{
  margin-top: 100px;
  text-align: center;
}


.edit-things {
  align-items: center;
  display: flex;
  justify-content: center;
}