.app__particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

button {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 20px;
}
